


@media only screen and (min-width: 600px){
  .user-info-container{
    height: calc(100vh - 175px) !important;
  }
  
}


@media only screen and (max-width: 600px){
  .user-info-container{
    width: 100%;
    padding: 10px;
    height: calc(100vh - 135px) !important;
  }
  
  .ant-tabs-tab div p span{
    margin-right: 0 !important;
  }
  .ant-tabs-tab:not(:first-child){
    margin: 0 0 0 8px !important;
  }
}